.navbar{
    display: flex;
    justify-content: space-between;
}
.link{
    color:  #f1faee;
    text-decoration: none;
    margin: 0 10px;
}
.writer-page{
    padding: 1em;
    background-color: rgb(67, 67, 251);
    border-radius: 10px;

}